In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data_folder = "../data/ml-20mx16x32/"
test_fragment = os.path.join(data_folder, "testx16x32_0.npz")

In [3]:
data = np.load(test_fragment)

In [4]:
data.files

['arr_0']

In [5]:
sample = data["arr_0"][:10000]
unique_users = np.unique(sample[:, 0])
unique_movie = np.unique(sample[:, 1])

In [6]:
old_to_new_user = dict(zip(unique_users, range(len(unique_users))))
old_to_new_movie = dict(zip(unique_movie, range(len(unique_movie))))

new_to_old_movie = {v : k for k, v in old_to_new_movie.items()}
new_to_old_user = {v : k for k, v in old_to_new_user.items()}

In [7]:
user_converter = np.vectorize(lambda x: old_to_new_user[x])
movie_converter = np.vectorize(lambda x: old_to_new_movie[x])

new_users_id = user_converter(sample[:, 0])
new_movie_id = movie_converter(sample[:, 1])

generated_data = np.vstack([new_users_id, new_movie_id]).T

In [12]:
generated_df = pd.DataFrame(data=generated_data)
generated_df.to_csv("../generated.csv", index=False, sep="\t")

In [13]:
generated_df

         0     1
0        0  4759
1        1  3057
2        2  1723
3        3  1030
4        4   794
...    ...   ...
9995  9995  3481
9996  9996  6400
9997  9997  5122
9998  9998  5200
9999  9999  3273

[10000 rows x 2 columns]

In [15]:
generated_df = pd.read_csv("../generated.csv", sep="\t")
generated_df

         0     1
0        0  4759
1        1  3057
2        2  1723
3        3  1030
4        4   794
...    ...   ...
9995  9995  3481
9996  9996  6400
9997  9997  5122
9998  9998  5200
9999  9999  3273

[10000 rows x 2 columns]