In [1]:
import os
import random
import numpy as np
import pandas as pd

from tqdm import tqdm

In [2]:
data_folder = "../data/ml-20mx16x32/"

In [13]:
all_data =[] 
for file in tqdm(os.listdir(data_folder)):
    if file.split('x')[0] == 'train':
        data = np.load(os.path.join(data_folder, file), mmap_mode='r')
        for row in data['arr_0'][:10]:
            line = list(row)
            all_data.append(line)

100%|████████████████████████████████████████████████████████████████████████████████| 32/32 [00:25<00:00,  1.24it/s]

In [14]:
sample = np.array(all_data)

In [15]:
unique_users = np.unique(sample[:, 0])
unique_movie = np.unique(sample[:, 1])

In [16]:
old_to_new_user = dict(zip(unique_users, range(len(unique_users))))
old_to_new_movie = dict(zip(unique_movie, range(len(unique_movie))))

new_to_old_movie = {v : k for k, v in old_to_new_movie.items()}
new_to_old_user = {v : k for k, v in old_to_new_user.items()}

In [17]:
user_converter = np.vectorize(lambda x: old_to_new_user[x])
movie_converter = np.vectorize(lambda x: old_to_new_movie[x])

new_users_id = user_converter(sample[:, 0])
new_movie_id = movie_converter(sample[:, 1])

generated_data = np.vstack([new_users_id, new_movie_id]).T

In [18]:
new_movie_id

array([ 37,  49,  64,  83,  87,  94,  96, 100, 105, 121,  38,  54,  58,
        60,  62,  91,  92, 101, 105, 117,   3,   5,   7,   8,  11,  13,
        18,  22,  27,  28,   1,  52, 107, 140, 146, 149, 150, 151, 155,
       157,   9,  10,  43,  45,  48,  63,  66,  68,  71,  72,  15,  44,
        67,  74,  78,  80,  93, 102, 122, 124,  26,  31,  41,  51,  75,
        81,  84,  85, 103, 104,  19,  21,  32,  39,  42,  46,  47,  55,
        56,  57, 116, 127, 132, 134, 137, 139, 141, 142, 143, 144,   4,
         6,  12,  14,  16,  18,  20,  29,  30,  36,  17,  24,  33,  50,
        53,  59,  77,  89,  90,  95,  82,  86,  88,  97,  98,  99, 115,
       119, 120, 125,   0,  23,  25,  34,  61,  69,  70,  73,  76,  79,
       108, 118, 123, 126, 129, 130, 131, 135, 136, 138,   2,  35,  40,
       106, 109, 111, 112, 113, 114, 128,  65, 110, 133, 145, 147, 148,
       152, 153, 154, 156])

In [19]:
generated_df = pd.DataFrame(data=generated_data)
generated_df.to_csv("../generated.csv", index=False, sep="\t")

In [20]:
generated_df

      0    1
0    11   37
1    11   49
2    11   64
3    11   83
4    11   87
..   ..  ...
155   5  148
156   5  152
157   5  153
158   5  154
159   5  156

[160 rows x 2 columns]

In [21]:
generated_df = pd.read_csv("../generated.csv", sep="\t")
generated_df

      0    1
0    11   37
1    11   49
2    11   64
3    11   83
4    11   87
..   ..  ...
155   5  148
156   5  152
157   5  153
158   5  154
159   5  156

[160 rows x 2 columns]